#export(AKRIM)
#CRU,crutemp,F10.7cm,forcings,GISS.GCMs,gistemp,Lean1995,
#       Lean2004,svalbard,tab1,vardo,Douglasetal.tab1,Douglasetal.tab2,
#       Mauna.Loa,gdptemp03,gisp2,enso,vostoc.co2,vostoc.temp,Be.10,
#       CMIP3.20c3m.sresa1b,Scafetta2011.tab1,fl1991)
#import(clim.pact, cyclones, waveslim, lmtest, deSolve)
import(deSolve)
import(lmtest)
export(resonance)
export(Humlum.et.al.2011)
export(decomposeFT)
export(LoehleScafetta2011)
export(Scafetta2010)
export(Scafetta2011)
export(hfit)
export(ENSO.example)
export(resonance)
export(Scafetta.tab1)
export(resonanceTest)
export(Solheim.et.al.2011)
export(do.vardo)
export(Scafetta2006)
export(check.table1)
export(obs2tab1)
export(Walker.test)
export(MM2004)
export(Douglas2007)
export(paleaoproxy)
export(FL1991)
export(forskning.no)
